<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.level2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo0"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Morag3a"></activity>
        <activity android:name=".Games.FIND" />
        <activity android:name=".Games.XO" />
        <activity android:name=".Games.games" />
        <activity android:name=".Level2_3" />
        <activity android:name=".Level2_2" />
        <activity android:name=".Level2_1" />
        <activity android:name=".Well">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9066719717930706~4474257123" />
    </application>

</manifest>